[submodule "markdownpanda"]
	path = markdownpanda
  url = git@github.com:Open-App-Library/Markdown-Panda.git
[submodule "QBasicHtmlExporter"]
	path = QBasicHtmlExporter
  url = git@github.com:Open-App-Library/QBasicHtmlExporter.git
